div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
    padding: 1em;
    color: white;
    background-color: #67d136;
    clear: left;
    text-align: center;
    height:50px;
}
footer {
    padding: 1em;
    color: white;
    position:absolute;
    background-color: #67d136;
    clear: left;
    bottom:0;
    text-align: center;
    height:10px;
    width: 100%;
}

nav {
    float: left;
    max-width: 160px;
    border-bottom: 0;
    max-height: 100%;
    padding: auto;
    overflow: hidden;
}
#map {
    top:15%;
    height: 45%;
    width: 60%;
    left: 2%;
    position:absolute;
}
#museum{
    visibility: hidden;
}
#theatre{
    visibility: hidden;
}
#mall{
    visibility: hidden;
}
#beach{
    visibility: hidden;
}
#temple{
    visibility: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 870px;
    border-left: 1px solid gray;
    padding: 1em;
    margin-bottom: 0px;
    overflow: hidden;
}